.home-title {

color: #ff0000;
font-size: 200px;
position:fixed;
bottom: 700px;


}
.find-your-pc{

color: white;


}
.logo {
    font-family: 'Rubik', sans-serif;

}
h1 {
font-size: 100px;
font-family: 'Rubik', sans-serif;
text-align: center;

text-decoration: none;

}
#p {

text-align: center;
font-size: 50;
text-decoration: none;

}
h2 {

font-size: 50;
text-align: center;
text-decoration: none;


}
.paragraph {

font-size: 30px;
text-align: center;
font-family: 'Nunito', sans-serif;
line-height: 50px;
margin-top: 30px;
}

.menu-button {

position: fixed;

margin-right: 100px;
bottom: 670px;
right: 10px;


}
#gaming-pc{

margin-top:100px;

}
#gaming-pc-intro {

margin-top: 150px;
color: white;



}
.title{
    margin-top: 65px;
    
            }
.nav-button{

margin-left: 60px;
border-radius: 4px;

opacity: 1px;


} 
.back-button{

background-color: white;
border-radius: 4px;
text-decoration: none;
width: 10%;
height: 30%;
text-align: center;
margin-left: 50px;
margin-right: 50px;
color: black;

}
.back-button:hover {

background-color: black;
color: white;

}
.text {

    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    line-height: 40px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px ;
    
    
    
    
    
    
    }
